.tabs-container {
  display: block;
  margin-bottom: 20px;
  line-height: 21px;
  color: #444; }
  .tabs-container .wrapper.auto-wrap {
    display: table; }
  .tabs-container .tab-nav {
    position: relative;
    top: 2px; }
    .tabs-container .tab-nav.auto-wrap {
      white-space: nowrap;
      display: table-caption;
      caption-side: top; }
  .tabs-container .tab-nav-item {
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
    border-bottom: none;
    border-left-color: transparent;
    padding: 8px 12px; }
    .tabs-container .tab-nav-item.active {
      border-radius: 5px 5px 0 0;
      background: white;
      border: 1px solid #BBB;
      border-bottom: 1px solid transparent;
      color: #333; }
  .tabs-container .tab-panel {
    border-top: 1px solid #BBB; }
    .tabs-container .tab-panel.auto-wrap {
      display: table-caption;
      caption-side: bottom; }
  .tabs-container .tab-panel-item {
    display: none;
    padding: 10px;
    overflow: hidden; }
    .tabs-container .tab-panel-item.active {
      display: block; }
  .tabs-container .img-left {
    float: left;
    padding: 0 12px 0px 0; }
  .tabs-container p {
    margin-top: 0;
    font-size: 13px; }
  .tabs-container .tab-icon {
    width: 20px;
    height: 15px;
    position: relative;
    top: 4px;
    left: -2px; }

/* Theme folder */
.tabs-container.theme-folder .tab-nav-item {
  background: white;
  color: black;
  opacity: 0.5; }
  .tabs-container.theme-folder .tab-nav-item.active {
    opacity: 1;
    border: none;
    background-color: #e0e6a4; }
    .tabs-container.theme-folder .tab-nav-item.active .tab-icon {
      display: inline-block; }
  .tabs-container.theme-folder .tab-nav-item .tab-icon {
    display: none; }

.tabs-container.theme-folder .tab-panel {
  background: #e0e6a4;
  color: black;
  border: none; }

/* Theme box */
.tabs-container.theme-box .tab-nav-item {
  border: 1px solid #BBB;
  border-bottom: none;
  border-left-color: transparent;
  border-radius: 0;
  background: #CCC;
  color: white;
  position: relative;
  top: 1px; }
  .tabs-container.theme-box .tab-nav-item.active {
    background-color: #FFFFFF;
    color: #333;
    border-bottom: 1px solid white;
    border-top: 3px solid red;
    border-left-color: #BBB; }
  .tabs-container.theme-box .tab-nav-item:first-child {
    border-left: 1px solid #BBB; }

.tabs-container.theme-box .tab-panel {
  background: #FFFFFF;
  border: 1px solid #BBB; }
