body {
  font-family: Helvetica, Arial, Verdana;
}

.tabs-container {
  display: block;
  margin-bottom: 20px;
  line-height: 21px;
  color: #999;

  .wrapper {
    overflow: hidden;
    /* contain the panel to the size of the nav */
    &.content-wrap {
      display: table;
      .tab-nav {
        white-space: nowrap;
        // display: table-caption;
        // caption-side: top;

        .tab-nav-item {
          display: inline-table;
        }
      }
      &>.tab-panel {
        display: table-caption;
        caption-side: bottom;
      }
    }

    &.bottom-nav {
      .tab-nav {
        caption-side: bottom;
      }
      .tab-panel {
        caption-side: top;
      }
    }
  }

  .tab-nav {
    position: relative;
    top: 1px;
    z-index: 1;
  }

  .tab-nav-item {
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
    border-bottom: none;
    border-left-color: transparent;
    padding: 8px 12px;

    &.active {
      border-radius: 5px 5px 0 0;
      background: white;
      border: 1px solid #BBB;
      border-bottom: 1px solid transparent;
      color: #333;
    }
  }

  .tab-panel {
    position: relative;
    border-top: 1px solid #BBB;
    z-index: 0;
  }

  .bottom-nav {
    .tab-nav-item {
      &.active {
        border-radius: 0 0 5px 5px;
        border-top: 1px solid transparent;
        border-bottom: 1px solid #BBB;
      }
    }

    .tab-panel {
      border-top: none;
      border-bottom: 1px solid #BBB;
    }

    .tab-nav {
      top: -1px;
    }
  }

  .tab-panel-item {
    display: none;
    overflow: hidden;
    padding: 10px;
    &.active {
      display: block;
    }
  }

  &.fade {
    .tab-panel-item {
      -webkit-transition: all 0.25s ease-out;
      -moz-transition: all 0.25s ease-out;
      -o-transition: all 0.25s ease-out;
      transition: all 0.25s ease-out;
      opacity: 0;
      display: block;
      position: absolute;
    }

    &.fadeOut {
      .tab-panel-item.active {
        position: relative;
        opacity: 0;
      }
    }

    &.fadeIn {
      .tab-panel-item.active {
        position: relative;
        opacity: 1;
      }
    }
  }

  .img-left {
    float: left;
    padding: 0 12px 0px 0;
  }

  p {
    margin-top: 0;
    font-size: 13px;
  }

  .tab-icon {
    width: 20px;
    height: 15px;
    position: relative;
    top: 4px;
    left: -2px;
  }
}

/* Theme folder */
$theme1: #AAA;
.tabs-container.theme-folder>.wrapper {
  &>.tab-nav {
    .tab-nav-item {
      background: none;
      color: black;
      opacity: 0.5;

      &.active {
        opacity: 1;
        border: none;
        background-color: $theme1;
        border-radius: 5px 5px 0 0;
        .tab-icon {
          display: inline-block;
        }
      }

      .tab-icon {
        display: none;
      }
    }
  }

  &>.tab-panel {
    color: black;
    border: none;
    background: none;
    .tab-panel-item {
      &.active {
        background: $theme1;
        border-radius: 0 0 5px 5px;
      }
    }
  }

  &.bottom-nav>.tab-nav  {
    top: 0;
    .tab-nav-item {
      &.active {
        border-radius: 0 0 5px 5px;
      }
    }
  }

  &.bottom-nav>.tab-panel  {
    .tab-panel-item {
      &.active {
        border-radius: 5px 5px 0 0;
      }
    }
  }


}

/* Theme box */
$theme2: #FFFFFF;
.tabs-container.theme-box>.wrapper {
  &>.tab-nav {
    .tab-nav-item {
      border: 1px solid #BBB;
      border-bottom: none;
      border-left-color: transparent;
      border-radius: 0;
      background: #CCC;
      color: white;
      position: relative;
      top: 1px;

      &.active {
        background-color: $theme2;
        color: #333;
        border-bottom: 1px solid white;
        border-top: 3px solid red;
        border-left-color: #BBB;
      }

      &:first-child {
        border-left: 1px solid #BBB;
      }
    }
  }

  &>.tab-panel {
    background: $theme2;
    border: 1px solid #BBB;
    border-top: none;
  }
}

/* Theme two rows */
$theme2: #FFFFFF;
.tabs-container.two-rows>.wrapper {
  &>.tab-nav {
    .tab-nav-item {
      line-height: 15px;

      sub {
        display: block;
        font-size: 75%;
      }

    }
  }

}

